numpy~=2.1.3
pystencils~=2.0.dev0+58.g4876f0b
pystencilssfg~=0.1a4+23.g71ba6dc
pymatlib~=0.1.0
pytest~=8.3.4
sympy~=1.12.1
pyyaml~=6.0.2
ruamel.yaml>=0.15.70
matplotlib~=3.10.0
scipy~=1.15.1
setuptools~=75.8.0
versioneer~=0.29
pybind11~=2.14.0.dev1